Name,Value
urlIpt,hst1/q9web/leisureFish/pdd/import
urlSlq,hst1/express-md/restful/restfulBillShippingListService/searchShippingListByBillCodes
urlVs,hst1/q9web/leisureFish/pdd/searchVirtualScan
urlVsd,hst1/q9web/leisureFish/pdd/searchDetail?billCode=
urlCq,hst2/s9/cost/bill/search
urlCacq,hst2/s9/cus_account_check?checkOrRepair
urlSst,hst2/q9web/examinationTable/searchSpecialTaoBill
urlCcr,hst2/saltfish/restful/restfulCainiaoRecService/createCainiaoRecBatch
