Name,Value
urlIpt,/q9web/leisureFish/pdd/import
urlSlq,/express-md/restful/restfulBillShippingListService/searchShippingListByBillCodes
urlVs,/q9web/leisureFish/pdd/searchVirtualScan
urlVsd,/q9web/leisureFish/pdd/searchDetail?billCode=
urlCq,/s9/cost/bill/search
urlCacq,/s9/cus_account_check?checkOrRepair
